<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Bike SHOP</title>
    </head>
    <body>
        <h1>Welcome to the Bike SHOP!</h1>
        <h4>All the bikes available in our shop:</h4>
        <ul>
            {% for bike in bikes %}
            <li>
                <a href="{% url 'bike' bike.id %}">
                    <span>{{ bike.name }}</span>
                    <span>
                        {% if bike.has_basket %}
                            (with basket)
                        {% endif %}
                    </span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
