<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bike Shop</title>
</head>
<body>
    <h2>{{ bike.name }}</h2>
    <p>frame: {{ bike.frame.color }}</p>
    <p>seat: {{ bike.seat.color }}</p>
    <p>tires: {{ bike.tire.type }}</p>
    <p>basket: {{ bike.hasBasket }}</p>
    <p>description: {{ bike.description }}</p>

    <br><br><br>

    {% if bike.tire.quantity >= 2 and bike.seat.quantity >= 1 and bike.frame.quantity >= 1 %}
        <h3>If you want to order the bike, fill in the form below:</h3>
        <form method="post">
            {% csrf_token %}
            <p><label for="name">your name: </label><input id="name" name="name" type="text"/></p>
            <p><label for="surname">your surname: </label><input id="surname" name="surname" type="text" /></p>
            <p><label for="phone">your phone number: </label><input id="phone" name="phone_number" type="number" /></p>
            <input type="submit" value="Order">
        </form>
    {% else %}
        <p style="font-size: 1.5rem;">Unfortunately, this bike is currently not
            available
            .</p>
    {% endif %}
</body>
</html>
